@font-face {
    font-family: "iconfont";
    src: url('../../js/web_font/iconfont.eot?t=1465980152'); /* IE9*/
    src: url('../../js/web_font/iconfont.eot?t=1465980152#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../js/web_font/iconfont.woff?t=1465980152') format('woff'), /* chrome, firefox */
    url('../../js/web_font/iconfont.ttf?t=1465980152') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../js/web_font/iconfont.svg?t=1465980152#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: -6px;
    right: 0px;
    padding: 0 10px;
    color: #CACCCD;
    font-size: 19px;
    cursor: pointer;
}
.iconfont.active{
    color: #35AF86;
}
.iconfont:hover{
    color:#35AF86;
}

.icon-sousuo:before { content: "\e614"; }
.icon-shaixuanshaixuan:before { content: "\e650"; }
.icon-youqiehuan:before { content: "\e731"; }
.icon-zuoqiehuan:before { content: "\e732"; }