<style>

</style>
<template id="pie_chart">
    <div :id="id">

    </div>
</template>
<script>
    var colors = ['#7b7de5','#04aec7','#f92f79','#878da1'];
    var cn_name_map = {
        pie_compliance:'达标率',
        pie_scatter_temperature:'温度离散系数',
        pie_scatter_humidity:'湿度离散系数'
    };
    var circle_default = {//环形饼图基础配置
        title:{
            left:5,
            top:5,
            bottom:0,
            right:0,
            textStyle: {
                color:'#3b404f',
                fontSize:16,
                fontWeight:'normal'
            },
        },
        tooltip: {
            trigger: 'item',
            formatter:function(params){
//                console.log(params);
                var result = '';
                result += params.seriesName + '<br/><span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:'+params.color+'"></span>'+params.name+':'+params.value+'家<br/>';
                return result;
            }
        },
        color:colors,
        series: [
            {
                type:'pie',
                center: ['48%', '50%'],
                radius: ['40%', '50%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        position: 'outside'
                    }
                },
                labelLine: {
                    normal: {
                        show: true,
                        length:5,
                        length2:10
                    }
                },
            }
        ]
    };

    Vue.component('pie-chart',{
        template:'#pie_chart',
        data:function(){
            return {
                pie_chart:{},
            }
        },
        ready:function(){
            var me = this;
            if(typeof this.pie_item=='string'){
                return;
            }
            this.pie_chart = echarts.init(document.getElementById(this.id));
        },
        methods:{
            init_circle_chart:function(chart,option_obj,title,pie_data){//初始化环形饼图
                var me = this,
                    copy_option={};
                if(pie_data&&pie_data.length!=0){
                    for(var key in option_obj){//拷贝一份对象
                        copy_option[key] = option_obj[key];
                    }
                    $.each(pie_data,function(i,n){
                        //如果数据为0，则隐藏其标签和标线
                        if(n.value==0){
                            n.label={
                                normal:{
                                    show:false
                                },
                                emphasis:{
                                    show:false
                                }
                            };
                            n.labelLine={
                                normal:{
                                    show:false
                                },
                                emphasis:{
                                    show:false
                                }
                            };
                        }
                    });
                    copy_option.title.text=title;
                    copy_option.series[0].name=cn_name_map[this.id];
                    copy_option.series[0].data=pie_data;
                    this.pie_loaded();
//                    copy_option.color = colors;
                    chart.setOption(copy_option);
                    chart.resize();
                }
            },
            pie_loading:function(){
                this.pie_chart.showLoading({
                    text: '加载中...',
                    color: '#7b7de5',
                    textColor: '#7b7de5',
                    maskColor: 'rgba(255, 255, 255, 0.8)',
                    zlevel: 0
                });
            },
            pie_loaded:function(){
                this.pie_chart.hideLoading();
            }
        },
        props:['pie_item','id','tab_name','sel_params'],
        events:{
            resize_pie:function(){
                var me = this;
                if(this.pie_chart){
                    this.pie_chart.resize();
                }
            },
            init_pie_chart:function(data,id){
                if(this.id == id){
                    this.pie_chart = echarts.init(document.getElementById(this.id));
                    this.init_circle_chart(this.pie_chart,circle_default,cn_name_map[this.id],data);
                }
            },
            cancle_pie_chart:function(){
                this.pie_chart = echarts.init(document.getElementById(this.id));
                this.no_data = true;
                this.pie_loaded();
                this.pie_chart.setOption({
                    title:{
                        text:'暂无数据',
                        left:'center',
                        top:'middle',
                        textStyle:{
                            fontWeight:'normal',
                            fontSize:14,
                            color:'#51576d'
                        }
                    },
                    series:[]
                },true);
            },
            pie_loading:function(){
                this.pie_loading();
            }
        }
    });

</script>